# dependencies
node_modules/
/.pnp
.pnp.js

# environment variables
.env

# Vault
vault.exe
vault-data/
vault-config.hcl
start-vault.ps1
unseal-vault.ps1
*.exe

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

certs/rootCA_key.pem
uploads/